<h3>Comments</h3>
<% @post.comments.each do |comment| %>
    <div class="card">
    <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
    <p><%= link_to '[X]', [comment.post, comment],
                data: { confirm: 'Are you sure?' },
                method: :delete %></p>
    </div>
<% end %>